In [16]:
import pandas as pd
import numpy as np

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

from keras.models import Sequential
from keras.layers import Dense

# Step 1
### Importing the data

In [2]:
# load ratings data
data0 = pd.read_table("./archive/ml-100k/u.data", delimiter="\t", names=["userId", "itemId", "rating", "timestamp"])
data0.head()

   userId  itemId  rating  timestamp
0     196     242       3  881250949
1     186     302       3  891717742
2      22     377       1  878887116
3     244      51       2  880606923
4     166     346       1  886397596

In [3]:
# load user data
users0 = pd.read_table("./archive/ml-100k/u.user", delimiter="|", names=["userId", "age", "gender", "occupation", "zip"])
users0.head()

   userId  age gender  occupation    zip
0       1   24      M  technician  85711
1       2   53      F       other  94043
2       3   23      M      writer  32067
3       4   24      M  technician  43537
4       5   33      F       other  15213

In [4]:
# load movie data
movies0 = pd.read_table("./archive/ml-100k/u.item", delimiter="|", names=["movieId", "title", "movieRelease", "videoRelease", "imbd", "unknown", "action", "adventure", "animation", "children", "comedy", "crime", "documentary", "drama", "fantasy", "noir", "horror", "musical", "mystery", "romance", "scifi", "thriller", "war", "western"])
movies0.head()

,movieId,title,movieRelease,videoRelease,imbd,unknown,action,adventure,animation,children,...,fantasy,noir,horror,musical,mystery,romance,scifi,thriller,war,western
0,1,Toy Story (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Toy%20Story%2...,0,0,0,1,1,...,0,0,0,0,0,0,0,0,0,0
1,2,GoldenEye (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?GoldenEye%20(...,0,1,1,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,Four Rooms (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Four%20Rooms%...,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,Get Shorty (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Get%20Shorty%...,0,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,Copycat (1995),01-Jan-1995,NaN,http://us.imdb.com/M/title-exact?Copycat%20(1995),0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0

# Step 2:
### Cleaning the data

In [5]:
def convertDates(series):
    monthDict = {"Jan" : 1, "Feb" : 2, "Mar" : 3, "Apr" : 4, "May" : 5, "Jun" : 6, "Jul" : 7, "Aug" : 8, "Sep" : 9, "Oct" : 10, "Nov" : 11, "Dec" : 12}
    dates = []
    for val in series:
#         print(val)
        if (type(val) != type(0.1)):
            date = val.split("-")
            numDate = int(date[0]) + 100 * monthDict[date[1]] + 10000 * int(date[2])
            dates.append(numDate)
        else:
            dates.append(-1)
    return dates

def convertZips(series):
    zips = []
    for val in series:
        try:
            zips.append(int(val))
        except:
            zips.append(-1)
    return zips

In [6]:
# clean data
data = data0.drop("timestamp", axis=1)
data.rating.replace({3:1, 4:1, 5:1, 1:0, 2:0}, inplace=True)
data.head()

   userId  itemId  rating
0     196     242       1
1     186     302       1
2      22     377       0
3     244      51       0
4     166     346       0

In [7]:
# replace type of zip
users = users0.copy()
users.zip = convertZips(users.zip)
# replace gender for numbers
users.gender.replace({"M" : -1, "F" : 1}, inplace=True)
# replace occupations
cols = list(users.occupation.unique())
users.occupation.replace(cols, np.arange(len(cols)), inplace=True)

users.head()

   userId  age  gender  occupation    zip
0       1   24      -1           0  85711
1       2   53       1           1  94043
2       3   23      -1           2  32067
3       4   24      -1           0  43537
4       5   33       1           1  15213

In [8]:
# drop imbd and videoRelease and title
movies = movies0.drop(["videoRelease", "imbd", "title"], axis=1)
# change release date
movies.movieRelease = convertDates(movies.movieRelease)

movies.head()

,movieId,movieRelease,unknown,action,adventure,animation,children,comedy,crime,documentary,...,fantasy,noir,horror,musical,mystery,romance,scifi,thriller,war,western
0,1,19950101,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,2,19950101,0,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
2,3,19950101,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,4,19950101,0,1,0,0,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,5,19950101,0,0,0,0,0,0,1,0,...,0,0,0,0,0,0,0,1,0,0

In [9]:
xUsers = users.to_numpy()[:, 1:]
xMovies = movies.to_numpy()[:, 1:]
xData = data.to_numpy()[:, 2]

rows = len(data)
cols = np.shape(xUsers)[1] + np.shape(xMovies)[1] + 1

X = np.zeros((rows, cols))

userIds = data.userId.values
movieIds = data.itemId.values
ratings = data.rating.values

for i in range(rows):
#     print(i)
    u = userIds[i]
    m = movieIds[i]
    X[i] = np.hstack((xUsers[u - 1, :], xMovies[m - 1, : ], ratings[i]))

DATA = pd.DataFrame(X, columns=["age", "gender", "occupation", "zip", "movieRelease", "unknown", "action", "adventure", "animation", "children", "comedy", "crime", "documentary", "drama", "fantasy", "noir", "horror", "musical", "mystery", "romance", "scifi", "thriller", "war", "western", "rating"])
DATA = DATA[DATA["zip"] != -1]
DATA = DATA[DATA["movieRelease"] != -1]

X = DATA.to_numpy()
DATA.head()

,age,gender,occupation,zip,movieRelease,unknown,action,adventure,animation,children,...,noir,horror,musical,mystery,romance,scifi,thriller,war,western,rating
0,49.0,-1.0,2.0,55105.0,19970124.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,39.0,1.0,3.0,0.0,19970101.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,1.0
2,25.0,-1.0,2.0,40206.0,19940101.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,28.0,-1.0,0.0,80525.0,19940101.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0,1.0,0.0
4,47.0,-1.0,7.0,55113.0,19970101.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

# Step 3
### Splitting the Data

In [10]:
points = X[:, : -1]
targets = X[:, -1 :]

xTrain, xTest, yTrain, yTest = train_test_split(points, targets, test_size=0.2)

# Step 4
### Training the Model

In [11]:
# define model
model = Sequential()
model.add(Dense(30, input_dim=24, activation="relu"))
model.add(Dense(50, activation="relu"))
model.add(Dense(50, activation="relu"))
model.add(Dense(1, activation="sigmoid"))

In [12]:
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [13]:
model.fit(xTrain, yTrain, epochs=30, batch_size=10)

Epoch 1/30
7833/7833 [==============================] - 24s 3ms/step - loss: 11061.5711 - accuracy: 0.7173
Epoch 2/30
7833/7833 [==============================] - 23s 3ms/step - loss: 6.0101 - accuracy: 0.8093
Epoch 3/30
7833/7833 [==============================] - 22s 3ms/step - loss: 0.4610 - accuracy: 0.8268
Epoch 4/30
7833/7833 [==============================] - 26s 3ms/step - loss: 0.4635 - accuracy: 0.8252
Epoch 5/30
7833/7833 [==============================] - 26s 3ms/step - loss: 0.4621 - accuracy: 0.8262
Epoch 6/30
7833/7833 [==============================] - 21s 3ms/step - loss: 0.4601 - accuracy: 0.8275
Epoch 7/30
7833/7833 [==============================] - 21s 3ms/step - loss: 0.4581 - accuracy: 0.8287
Epoch 8/30
7833/7833 [==============================] - 26s 3ms/step - loss: 0.4573 - accuracy: 0.8292
Epoch 9/30
7833/7833 [==============================] - 20s 3ms/step - loss: 0.4588 - accuracy: 0.8283
Epoch 10/30
7833/7833 [==============================] - 25s 3ms/step - loss: 0.4605 - accuracy: 0.8272
Epoch 11/30
7833/7833 [==============================] - 23s 3ms/step - loss: 0.4605 - accuracy: 0.8272
Epoch 12/30
7833/7833 [==============================] - 19s 2ms/step - loss: 0.4616 - accuracy: 0.8264
Epoch 13/30
7833/7833 [==============================] - 22s 3ms/step - loss: 0.4643 - accuracy: 0.8248
Epoch 14/30
7833/7833 [==============================] - 25s 3ms/step - loss: 0.4612 - accuracy: 0.8267
Epoch 15/30
7833/7833 [==============================] - 23s 3ms/step - loss: 0.4617 - accuracy: 0.8265
Epoch 16/30
7833/7833 [==============================] - 25s 3ms/step - loss: 0.4632 - accuracy: 0.8254
Epoch 17/30
7833/7833 [==============================] - 25s 3ms/step - loss: 0.4629 - accuracy: 0.8256
Epoch 18/30
7833/7833 [==============================] - 25s 3ms/step - loss: 0.4616 - accuracy: 0.8265
Epoch 19/30
7833/7833 [==============================] - 28s 4ms/step - loss: 0.4601 - accuracy: 0.8275
Epoch 20/30
7833/7833 [==============================] - 26s 3ms/step - loss: 0.4559 - accuracy: 0.8301
Epoch 21/30
7833/7833 [==============================] - 25s 3ms/step - loss: 0.4589 - accuracy: 0.8282
Epoch 22/30
7833/7833 [==============================] - 22s 3ms/step - loss: 0.4600 - accuracy: 0.8275
Epoch 23/30
7833/7833 [==============================] - 23s 3ms/step - loss: 0.4603 - accuracy: 0.8273
Epoch 24/30
7833/7833 [==============================] - 25s 3ms/step - loss: 0.4574 - accuracy: 0.8291
Epoch 25/30
7833/7833 [==============================] - 25s 3ms/step - loss: 0.4584 - accuracy: 0.8285
Epoch 26/30
7833/7833 [==============================] - 24s 3ms/step - loss: 0.4579 - accuracy: 0.8288
Epoch 27/30
7833/7833 [==============================] - 26s 3ms/step - loss: 0.4614 - accuracy: 0.8266
Epoch 28/30
7833/7833 [==============================] - 23s 3ms/step - loss: 0.4616 - accuracy: 0.8265
Epoch 29/30
7833/7833 [==============================] - 21s 3ms/step - loss: 0.4589 - accuracy: 0.8282
Epoch 30/30
7833/7833 [==============================] - 25s 3ms/step - loss: 0.4626 - accuracy: 0.8259

In [14]:
# save model
model.save("myModel")

INFO:tensorflow:Assets written to: myModel/assets

In [21]:
# predict
yPredict = model.predict(xTest)

accuracy_score(yTest, yPredict > 0.5)
# yPredict > 0.5

0.8201828302946734

In [11]:
from numpy import loadtxt
from keras.models import Sequential
from keras.layers import Dense

In [13]:
dataset = loadtxt("trialData.csv", delimiter=",")

X = dataset[:, 0:8]
Y = dataset[:, 8]

In [14]:
model = Sequential()
model.add(Dense(12, input_dim=8, activation='relu'))
model.add(Dense(8, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

In [15]:
model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [16]:
model.fit(X, Y, epochs=150, batch_size=10)

Epoch 1/150
77/77 [==============================] - 1s 2ms/step - loss: 5.4720 - accuracy: 0.6170
Epoch 2/150
77/77 [==============================] - 0s 1ms/step - loss: 2.1580 - accuracy: 0.6042
Epoch 3/150
77/77 [==============================] - 0s 1ms/step - loss: 1.7722 - accuracy: 0.6162
Epoch 4/150
77/77 [==============================] - 0s 1ms/step - loss: 1.4979 - accuracy: 0.6591
Epoch 5/150
77/77 [==============================] - 0s 1ms/step - loss: 1.3104 - accuracy: 0.6643
Epoch 6/150
77/77 [==============================] - 0s 1ms/step - loss: 1.1606 - accuracy: 0.6217
Epoch 7/150
77/77 [==============================] - 0s 2ms/step - loss: 1.2309 - accuracy: 0.6316
Epoch 8/150
77/77 [==============================] - 0s 2ms/step - loss: 0.9117 - accuracy: 0.6886
Epoch 9/150
77/77 [==============================] - 0s 2ms/step - loss: 0.8903 - accuracy: 0.6680
Epoch 10/150
77/77 [==============================] - 0s 2ms/step - loss: 0.9961 - accuracy: 0.6419
Epoch 11/150
77/77 [==============================] - 0s 1ms/step - loss: 0.7864 - accuracy: 0.6693
Epoch 12/150
77/77 [==============================] - 0s 1ms/step - loss: 0.7950 - accuracy: 0.6456
Epoch 13/150
77/77 [==============================] - 0s 1ms/step - loss: 0.8210 - accuracy: 0.6399
Epoch 14/150
77/77 [==============================] - 0s 3ms/step - loss: 0.7935 - accuracy: 0.6602
Epoch 15/150
77/77 [==============================] - 0s 3ms/step - loss: 0.7072 - accuracy: 0.6806
Epoch 16/150
77/77 [==============================] - 0s 3ms/step - loss: 0.7328 - accuracy: 0.6765
Epoch 17/150
77/77 [==============================] - 0s 4ms/step - loss: 0.6819 - accuracy: 0.7103
Epoch 18/150
77/77 [==============================] - 1s 7ms/step - loss: 0.7236 - accuracy: 0.6670
Epoch 19/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6764 - accuracy: 0.6884
Epoch 20/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6215 - accuracy: 0.7374
Epoch 21/150
77/77 [==============================] - 0s 1ms/step - loss: 0.7394 - accuracy: 0.6542
Epoch 22/150
77/77 [==============================] - 0s 997us/step - loss: 0.6825 - accuracy: 0.6485
Epoch 23/150
77/77 [==============================] - 0s 1ms/step - loss: 0.6385 - accuracy: 0.6846
Epoch 24/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6319 - accuracy: 0.7164
Epoch 25/150
77/77 [==============================] - 0s 3ms/step - loss: 0.7439 - accuracy: 0.6712
Epoch 26/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6666 - accuracy: 0.6542
Epoch 27/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6260 - accuracy: 0.6935
Epoch 28/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6132 - accuracy: 0.6665
Epoch 29/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6705 - accuracy: 0.6695
Epoch 30/150
77/77 [==============================] - 0s 5ms/step - loss: 0.6548 - accuracy: 0.6813
Epoch 31/150
77/77 [==============================] - 0s 3ms/step - loss: 0.6716 - accuracy: 0.6785
Epoch 32/150
77/77 [==============================] - 0s 3ms/step - loss: 0.6190 - accuracy: 0.6848
Epoch 33/150
77/77 [==============================] - 0s 4ms/step - loss: 0.5993 - accuracy: 0.7132
Epoch 34/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6346 - accuracy: 0.6907
Epoch 35/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6134 - accuracy: 0.7075
Epoch 36/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6865 - accuracy: 0.6386
Epoch 37/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5845 - accuracy: 0.7148
Epoch 38/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5841 - accuracy: 0.7115
Epoch 39/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6224 - accuracy: 0.7081
Epoch 40/150
77/77 [==============================] - 0s 5ms/step - loss: 0.6163 - accuracy: 0.6805
Epoch 41/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5753 - accuracy: 0.7239
Epoch 42/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5725 - accuracy: 0.7345
Epoch 43/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5531 - accuracy: 0.7406
Epoch 44/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6633 - accuracy: 0.6633
Epoch 45/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5758 - accuracy: 0.7100
Epoch 46/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5769 - accuracy: 0.7240
Epoch 47/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5434 - accuracy: 0.7280
Epoch 48/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5543 - accuracy: 0.7419: 0s - loss: 0.5493 - accuracy:
Epoch 49/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5965 - accuracy: 0.6798
Epoch 50/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5950 - accuracy: 0.7370
Epoch 51/150
77/77 [==============================] - 0s 3ms/step - loss: 0.6247 - accuracy: 0.7001
Epoch 52/150
77/77 [==============================] - 1s 9ms/step - loss: 0.5541 - accuracy: 0.7485
Epoch 53/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5858 - accuracy: 0.7084
Epoch 54/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5902 - accuracy: 0.7259
Epoch 55/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5328 - accuracy: 0.7554
Epoch 56/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5236 - accuracy: 0.7584
Epoch 57/150
77/77 [==============================] - 0s 6ms/step - loss: 0.6008 - accuracy: 0.6971
Epoch 58/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5895 - accuracy: 0.7035
Epoch 59/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5727 - accuracy: 0.7011
Epoch 60/150
77/77 [==============================] - 0s 2ms/step - loss: 0.6206 - accuracy: 0.6963
Epoch 61/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5967 - accuracy: 0.7005
Epoch 62/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5423 - accuracy: 0.7473
Epoch 63/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5443 - accuracy: 0.7400
Epoch 64/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5383 - accuracy: 0.7602
Epoch 65/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5369 - accuracy: 0.7348
Epoch 66/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5989 - accuracy: 0.6950
Epoch 67/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5461 - accuracy: 0.7262
Epoch 68/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5180 - accuracy: 0.7762
Epoch 69/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5857 - accuracy: 0.6918
Epoch 70/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5399 - accuracy: 0.7381
Epoch 71/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5536 - accuracy: 0.7364
Epoch 72/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5600 - accuracy: 0.7295
Epoch 73/150
77/77 [==============================] - 1s 20ms/step - loss: 0.6575 - accuracy: 0.6621
Epoch 74/150
77/77 [==============================] - 2s 24ms/step - loss: 0.5887 - accuracy: 0.7247 2s -
Epoch 75/150
77/77 [==============================] - 0s 3ms/step - loss: 0.6223 - accuracy: 0.7087
Epoch 76/150
77/77 [==============================] - 0s 4ms/step - loss: 0.6166 - accuracy: 0.6739
Epoch 77/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5161 - accuracy: 0.7678
Epoch 78/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5949 - accuracy: 0.7390
Epoch 79/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5323 - accuracy: 0.7323
Epoch 80/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5209 - accuracy: 0.7538
Epoch 81/150
77/77 [==============================] - 0s 4ms/step - loss: 0.5608 - accuracy: 0.7408
Epoch 82/150

77/77 [==============================] - 0s 3ms/step - loss: 0.5429 - accuracy: 0.7756
Epoch 83/150
77/77 [==============================] - 0s 4ms/step - loss: 0.5135 - accuracy: 0.7810
Epoch 84/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5464 - accuracy: 0.7459
Epoch 85/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5077 - accuracy: 0.7650
Epoch 86/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5313 - accuracy: 0.7443
Epoch 87/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5382 - accuracy: 0.7570
Epoch 88/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5468 - accuracy: 0.7792
Epoch 89/150
77/77 [==============================] - 0s 4ms/step - loss: 0.5481 - accuracy: 0.7313
Epoch 90/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4909 - accuracy: 0.7549
Epoch 91/150
77/77 [==============================] - 1s 7ms/step - loss: 0.5329 - accuracy: 0.7417
Epoch 92/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5063 - accuracy: 0.7503
Epoch 93/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5359 - accuracy: 0.7553
Epoch 94/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5498 - accuracy: 0.7155
Epoch 95/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5373 - accuracy: 0.7723
Epoch 96/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5151 - accuracy: 0.7466
Epoch 97/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5329 - accuracy: 0.7623
Epoch 98/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5280 - accuracy: 0.7333
Epoch 99/150
77/77 [==============================] - 0s 5ms/step - loss: 0.5169 - accuracy: 0.7508
Epoch 100/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5092 - accuracy: 0.7675
Epoch 101/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5039 - accuracy: 0.7645
Epoch 102/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5134 - accuracy: 0.7509
Epoch 103/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4822 - accuracy: 0.7776
Epoch 104/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5100 - accuracy: 0.7667
Epoch 105/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5381 - accuracy: 0.7705
Epoch 106/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5579 - accuracy: 0.7368
Epoch 107/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5263 - accuracy: 0.7431
Epoch 108/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5144 - accuracy: 0.7739
Epoch 109/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5242 - accuracy: 0.7503
Epoch 110/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5083 - accuracy: 0.7668
Epoch 111/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5671 - accuracy: 0.7265
Epoch 112/150
77/77 [==============================] - 0s 3ms/step - loss: 0.4907 - accuracy: 0.7570
Epoch 113/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5255 - accuracy: 0.7552
Epoch 114/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5178 - accuracy: 0.7509
Epoch 115/150
77/77 [==============================] - 0s 4ms/step - loss: 0.4603 - accuracy: 0.7936
Epoch 116/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5661 - accuracy: 0.7257
Epoch 117/150
77/77 [==============================] - 0s 3ms/step - loss: 0.6052 - accuracy: 0.6757
Epoch 118/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5277 - accuracy: 0.7566
Epoch 119/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5444 - accuracy: 0.7545
Epoch 120/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5264 - accuracy: 0.7441
Epoch 121/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5392 - accuracy: 0.7350
Epoch 122/150
77/77 [==============================] - 0s 1ms/step - loss: 0.4968 - accuracy: 0.7622
Epoch 123/150
77/77 [==============================] - 0s 1ms/step - loss: 0.4967 - accuracy: 0.7669
Epoch 124/150
77/77 [==============================] - 0s 1ms/step - loss: 0.5304 - accuracy: 0.7579
Epoch 125/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5846 - accuracy: 0.7090
Epoch 126/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4942 - accuracy: 0.7677
Epoch 127/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4862 - accuracy: 0.7825
Epoch 128/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5648 - accuracy: 0.7249
Epoch 129/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5276 - accuracy: 0.7438
Epoch 130/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4910 - accuracy: 0.7751
Epoch 131/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4792 - accuracy: 0.7825
Epoch 132/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5154 - accuracy: 0.7470
Epoch 133/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5114 - accuracy: 0.7629
Epoch 134/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4845 - accuracy: 0.7753
Epoch 135/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5051 - accuracy: 0.7617
Epoch 136/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4655 - accuracy: 0.7674
Epoch 137/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5045 - accuracy: 0.7509
Epoch 138/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4865 - accuracy: 0.7580
Epoch 139/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5161 - accuracy: 0.7694
Epoch 140/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5361 - accuracy: 0.7481
Epoch 141/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4848 - accuracy: 0.7686
Epoch 142/150
77/77 [==============================] - 1s 8ms/step - loss: 0.5006 - accuracy: 0.7509
Epoch 143/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4864 - accuracy: 0.7652
Epoch 144/150
77/77 [==============================] - 0s 2ms/step - loss: 0.4872 - accuracy: 0.7490
Epoch 145/150
77/77 [==============================] - 1s 8ms/step - loss: 0.5012 - accuracy: 0.7589
Epoch 146/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5004 - accuracy: 0.7517
Epoch 147/150
77/77 [==============================] - 0s 3ms/step - loss: 0.4977 - accuracy: 0.7814
Epoch 148/150
77/77 [==============================] - 0s 2ms/step - loss: 0.5197 - accuracy: 0.7515
Epoch 149/150
77/77 [==============================] - 0s 3ms/step - loss: 0.5210 - accuracy: 0.7253
Epoch 150/150
77/77 [==============================] - 0s 3ms/step - loss: 0.4933 - accuracy: 0.7639

In [17]:
__, accuracy = model.evaluate(X, Y)
print("Accuracy: %.2f" % (accuracy * 100))

24/24 [==============================] - 0s 2ms/step - loss: 0.5042 - accuracy: 0.7578
Accuracy: 75.78